<app-header></app-header>
<div class="container">
	<div class="col-lg-12 p-3 main-section bg-white">
		<div class="row m-0">
			<div class="col-lg-6 left-side-product-box pb-3">
				<img src="https://oechsle.vteximg.com.br/arquivos/ids/3566711-1500-1500/1591078.jpg?v=637547012349330000" class="p-3" alt="cardigan burbuja">
			</div>
			<div class="col-lg-6">
				<div class="right-side-pro-detail p-3 m-0">
					<div class="row">
						<div class="col-lg-12">
							<span class="brand-name">MARTIKNIT</span>
							<p class="p-0">Cardigan burbuja</p>
						</div>
						<div class="col-lg-12">
							<span class="p-0 price-pro">S/ 169.00</span>
							<hr class="p-0 m-0">
						</div>
						<div class="col-lg-12 mt-3">
							<div class="row">
								<div class="col-lg-6 pb-2">
									<a href="#" class="btn w-100 add-to-cart" onclick="gtag('event', 'clic', {'event_category': 'add-to-cart', 'event_label': 'add-to-cart'});"><i class="fa fa-plus" aria-hidden="true"></i>Agregar al carro</a>
								</div>
								<div class="col-lg-6">
									<a href="#" class="btn w-100 purchase" onclick="gtag('event', 'clic', {'event_category': 'purchase', 'event_label': 'purchase'});"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Comprar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</div>
</div>